body {
	padding: 1em;
}

#logo img {
  object-fit: cover;
  width: 50%;
  float: right;
  max-width: 200px;
}

img#imgSignature {
	max-width: 200px;
}

img#imgLogo {
	float: right;
}

#tablePortfolio {
	margin-bottom: 1em;
}

#tablePortfolio tbody tr:nth-child(odd) {
	background-color: white;
}

#tablePortfolio tfoot tr {
	background-color: #e30018;
	color: white;
}